body {
    font: normal normal normal 20px/34px Poppins;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .fullscreen {
    height: 60vh;
    display: flex;
    align-items: center;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: bold;
    color: black;
  }
  
  h2 {
    font-size: 1rem;
    color: #dc3545;
  }
  
  h6 {
    font-size: 1rem;
    color: #dc3545;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
  }
  
.text-danger {
  color: #dc3545 !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}
.service-item img {
  width: 100%;

  border-radius: 8px;
}

.card-intro {
  width: 60%;
}
.card-intro-img{
  width: 50%;
  height: 50%;
}
  
  img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
  
  .text-danger {
    color: #F60058 !important;
    padding-top: 120px;
  }
  
  .my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
    margin-right: 0.1rem;
    margin-left: 0.1rem;

  }

  .service-item {
    position: relative;
    overflow: hidden;
    padding-right: 10px;
    padding-left: 10px;

  }
  
  .service-item img {
    transition: transform 0.5s ease;
  }
  
  .service-item:hover img {
    transform: scale(1.1);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: #F60058;
  }
  
  .service-item:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 300px;
  }

  .service-item:hover .overlay {
    opacity: 1;
  }
  
  .overlay img {
    object-fit: none;
    margin-top: -150px;
    margin-right: 20%;
  }

  .btn-light {
    background-color: white;
    color: red;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .btn-light:hover {
    background-color: #f8f9fa;
    color: red;
  }
 
  .carousel-control-prev,
  .carousel-control-next {
    width: 30px;
    transition: width 0.2s ease-in-out; 
    opacity: 0.5; 
  }
  
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    width: 30px;
    opacity: 1;
    filter: invert(100%);
  }

  .carousel-indicators {
    margin-right: 50%;
    margin-bottom: -50px;
    width: min-content;
    margin-left: 330px;
  }
 

 .carousel-indicators li {
  width:10px;
    height:10px;
    border-radius:50%;
    background-color:black;
    background-clip:content-box;
    padding:2px;
    opacity: 1;
 }

 .carousel-indicators .active ,li:hover{
    width:10px;
    height:10px;
    border-radius:50%;
    background-color:#F60058;
    background-clip:content-box;
    padding:2px;
    border:1px solid #F60058;
}
  .d-flex {
    justify-content: right;
    height: 520px;
  }

  section {
    padding: 20px;
    margin: 20px;
    background: #fff;
}

.choose-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  width: 400px;
  height: 400px;
  padding: 20px;
  padding-top: 2px;
  margin: 10px; 
}


.card-group .card {
  align-items: flex-start; 
  border-color: #FAFAFA;;
  height: fit-content;
  background-color: #FAFAFA;
  padding-bottom: 30px;
  margin-left: 30%;
  

}
.card-group {
  width: 90%;
    margin-left: -182px;
}
.card-group .card h2,
.card-group .card h1,
.card-group .card p {
  align-items: inherit; 
  text-align: left;

}

.card-group .card h1{
  font-size: 2rem;
} 


.mt-5 {
  background-color: #FAFAFA;
  height: 900px;
  padding-top: 100px;
}
.experts-growths {
  background-color: #FAFAFA;
  padding-top: 50px;


}
.card-img-top {
  height: auto;
  width: auto;
  align-self:self-start;
  padding-bottom: 40px;
}
.experts-growths h2, .our-project h2, .feedback h2, .choose h2, .feed-info h2, .mt-5 h2 {
    text-align: center;
    color: #F60058;
    padding-bottom: 20px;
    font: normal normal normal 20px/34px Poppins;
    font-size: 1.5rem;
}

.experts-growths h1, .our-project h1, .feedback h1, .choose h1,  .feed-info h1, .mt-5 h1 {
  text-align: center;
  font: normal normal normal 20px/34px Poppins;
  font-size: 3rem;
  
}

.experts-growths p, .our-project .feedback p, .choose p,  .feed-info p {
  font-size: 16px;
  margin-bottom: 20px;
  font: normal normal normal 20px/34px Poppins;

}

.choose h2, .choose h1, .choose p {
  justify-content: rileftght !important;

}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  padding-top: 30px;
  padding-bottom: 30px;
  
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 300px; 
  padding: 20px;
  border: 1px solid #ddd;
  margin: 10px;
  transition: transform 0.3s, box-shadow 0.3s;  
}

.experts-growths .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.project-content {
    display: flex;
    justify-content: center;
    padding-top: 40px;
 
}

.project-image  {
    max-width: 100%;
    padding-right: 10px;
    border-radius: 10px;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.info {
    padding: 20px;
    padding-top: 30px;
    background-color:#ddd;
    cursor: pointer;
    height: 100%;
    width: 400px;

}


.info:hover {
    background: #F60058;
    color: white;
}

.feed-info {
  justify-content: center;
  
  font-size: 16px;
  width: 700px;

  background-image: url("images/quote.png");
  background-repeat: no-repeat;
  padding-top: 10px;
  font: normal normal normal 20px/34px Poppins;
}

.feedback {
  padding-top: 50px;
}

.rev-name {
    color: #F60058;
    justify-content: left;
}

 .footer {
  padding: 90px;
  padding-top: 50px; 

  background-image: url("images/NoPath - Copy@2x.png");
}
